[2019-07-15 13:30] moul opened #2 "Organize "Paris P2P #0" Event"
* [x] Have a Location
* [x] Have a Date
* [x] Define the timetable of the event
* [x] Update Meetup.com
* [x] Update https://p2p.paris
* [x] Send invites

[2019-07-16 16:01] moul opened #4 "Setup integrations on discord"
* GitHub
* Meetups Group activity
* Google Alerts / Twitter Search alerts -> monitor people talking about us

[2019-07-16 16:02] moul commented on #2
The event is setup on Meetup: https://www.meetup.com/Paris-P2P/events/263089573/

Shared here: https://github.com/ipfs/community/issues/54

[2019-07-16 16:02] #2 closed

[2019-07-17 12:13] moul opened #5 "France P2P / Framework to help local P2P chapters"
This issue to track the discussions and ideas about creating a framework and supporting local communities to bootstrap P2P events in other cities, and finally, put an umbrella organization that lists those communities and encourage collaborations

[2019-07-22 21:37] moul commented on #4
GitHub and twitter done

[2019-08-08 08:20] moul commented on #5
@cpieri will stay in Lyon for multiple months soon, we can help to bootstrap a new chapter there :) I will open a new dedicated issue to see if other people are interested

[2019-08-08 08:21] moul opened #10 "[Chapter Proposal] LyonP2P"
If you are living around Lyon, France, or if you are sometimes going there, and if you are interested in organizing a LyonP2P Meetup group, please comment on this issue or contact me.

Related with #5

[2019-08-08 08:30] moul opened #11 "Alternate logo"
@ernest25 suggested some changes on the logo:

* use the bottom of the image as "the earth"
  * remove the stars in the bottom
  * trace an arc (not necessarily with a border)
  * use a different color, more blue for the bottom
* non-Eiffel towers stars should be constellations
  * they should be in yellow
  * they should also have edges (but less thick than the Eiffel Tower)

A basic example quic

[2019-08-08 08:33] moul opened #12 "FranceP2P Logo + Basic website"
We need a logo and a website for the meta "mother organization"

It can be very basic, as the main role of "FranceP2P" is to aggregate the regional chapters

It's more like a "router website"

[2019-08-08 09:44] moul opened #13 "Setup a Proposal/Voting System"
It would be nice to allow people to publicly propose topics, talks, etc

Then, to allow people to vote (👍, :-1:) so we can collectively take decisions
* as small as choosing a workshop topic to discuss in the next event
* or as big as taking important decisions for the community

For now, my favorite idea is to dedicate a GitHub repo so people can create issues for each new idea or suggestion, the

[2019-08-08 10:12] Maniarr commented on #13
Rust Toulouse Meetup has this system for their [CFP](https://github.com/Rust-Toulouse/CFP).
It is also based on issues with template, very convenient.

[2019-08-08 11:42] moul opened #14 "Paris P2P #0"
## Info

* Meetup Link: https://www.meetup.com/fr-FR/Paris-P2P/events/263089573

## Slides:

* Event intro:
  * https://docs.google.com/presentation/d/1ejMJw9a82KojRiMLNyzgulC7UQLCZvnlVvBIqCghFN0
* Talk 1: History & Current State of P2P, by @moul
  * https://docs.google.com/presentation/d/1EASD86eqXRVhB_rLGqVvsWJ2l_Pl9hRbmXIB5wqFvzE

[2019-08-08 11:44] moul commented on #14
Debrief:

* We need to find a solution for the loudness
  * Dedicated (silent) room for the beginning of the event?
  * Microphone + speakers?
* A lot of people have ideas about the community, the event etc, so we need to encourage people to open issues/discussions here or on Discord :)
* Quite good event for a first one, a lot of interesting people and discussions <3

Closing the issue as this ev

[2019-08-08 11:44] #14 closed

[2019-08-08 11:47] moul commented on #11
@ernest25 added some photos as examples here: https://www.meetup.com/fr-FR/Paris-P2P/photos/30240035/483818312/?photoId=483818312&photoAlbumId=30240035&chapter_analytics_code=UA-124224137-4#483818312

[2019-08-08 12:37] catwell commented on #14
Small question: why Discord for the chat room and not a decentralized solution (e.g. Matrix)?

[2019-08-08 14:51] moul commented on #14
We chose Discord because it was the current trend for community chat solutions

Matrix allows bridging multiple solutions, we should setup the bridge to allow people to choose their favorite solution; anyone can help on this? (will create an issue)

Fixed! thx

🍾 see you there :)

[2019-08-08 14:52] moul opened #15 "Set up Matrix + bridge between Matrix and Discord"
Does someone have experience with the setup? Actually, I reserved the Matrix channels

Related with #14

cc @catwell

[2019-08-08 14:55] moul commented on #15
current channel: https://matrix.to/#/!zdSfRwwdOjzsjRzbsv:matrix.org?via=matrix.org

[2019-08-08 14:56] catwell commented on #15
I use Matrix but I don't have experience with bridging. [It does not look too complicated.](https://t2bot.io/discord/)

[2019-08-08 15:02] catwell commented on #15
Trying to join the channel on Riot, it doesn't work. Did you do anything weird with the configuration? Also, did you not choose a human-readable name on purpose?

![Screenshot from 2019-08-08 17-02-37](https://user-images.githubusercontent.com/221332/62714163-51664780-b9fe-11e9-92ec-6da5b65a013c.png)
![Screenshot from 2019-08-08 17-02-47](https://user-images.githubusercontent.com/221332/62714165-5

[2019-08-08 15:04] catwell commented on #13
+1 for using GitHub.

[2019-08-08 15:17] moul commented on #15
I updated the settings, here is the new invite link:

https://matrix.to/#/!gcnyCpTSlGiqqwphSu:matrix.org?via=matrix.org

you can also join directly using `/join #parisp2p`

[2019-08-08 15:21] moul commented on #15
Bridge is working!

Thank you @catwell <3

[2019-08-08 15:21] #15 closed

[2019-08-08 17:22] moul opened #16 "[Talk] History & Current State of P2P"
_I already presented these slides during ParisP2P#0 (#14), so this issue is not so useful_

_But as we plan to use GitHub to share and vote our topic ideas, it may be useful to be consistent (see #13)_

---

The slides: https://docs.google.com/presentation/d/1EASD86eqXRVhB_rLGqVvsWJ2l_Pl9hRbmXIB5wqFvzE

Feedbacks are welcome!

[2019-08-08 17:22] #16 closed

[2019-08-09 11:42] aeddi opened #17 "[Modèle] Proposition de présentation"
### Proposition de présentation

#### Titre
Titre simple et concis qui tiendrait sur votre premier slide.

#### Description
Décrivez en détail les sujets abordés durant votre conférence:
- Des technos seront-elles abordées / présentées ? Si oui, lesquelles ?
- Présenterez vous un projet ? Si oui, est-ce le votre / faites-vous parti de l'équipe à sa tête ou non ? Est-ce un projet open-source ? Un p

[2019-08-09 11:42] aeddi opened #18 "[Template] Talk proposal"
### Talk proposal

#### Title
Simple and concise title that would fit on your first slide.

#### Description
Describe in detail the topics that will be covered during your talk:
- Will specific technos be discussed / presented? If so, which ones?
- Will you present a project? If so, is it yours / are you part of the team leading it or not? Is it an open-source project? A commercial project? At wha

[2019-08-12 14:46] #18 closed

[2019-08-12 14:47] #17 closed

[2019-08-12 14:48] aeddi commented on #17
See #19

[2019-08-12 14:48] aeddi commented on #18
See #19

[2019-08-12 15:21] aeddi opened #21 "[Talk Proposal] Web 3.0 with IPFS"
## About your talk

#### Title

Web 3.0 with IPFS

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Estimated duration (max 20 min)

~15 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None | [ ] None | [✓] None | [ ] None |
| [✓] Beginner | [✓] Beginner | [ ] Beginner | [ ] Beginner |
| [

[2019-08-12 15:23] moul commented on #13
Done

See #19 for the template, and #21 for a first example

[2019-08-12 15:23] #13 closed

[2019-08-12 15:23] moul commented on #10
Cc @cpieri

[2019-08-12 15:27] moul opened #22 "[Chapter Proposal] RouenP2P"
If you are living around Rouen, France, or if you are sometimes going there, and if you are interested in organizing a RouenP2P Meetup group, please comment on this issue or contact me.

Related with #5

[2019-08-12 15:27] moul commented on #22
cc @gnieark @Zigazou

[2019-08-12 16:25] zooma2k18 opened #24 "[Workshop Proposal] Introduction to Crypto Wallet (Beginners) Workshop by @LesHackeuses"
## About your workshop

#### Title

Introduction to Crypto Wallet (Beginners) Workshop by @LesHackeuses

#### Workshop type

- [ ] Debate
- [x] Hands-on
- [ ] [Poster creation](https://github.com/parisp2p/community/wiki/Poster-workshop)
- [ ] Course

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ----

[2019-08-12 17:02] catwell commented on #21
If you do an IPFS talk I hope you talk about how you can replace non-GET HTTP verbs as well (e.g. how do you submit a form, make a comments system...).

Most most talks about IPFS I have seen get into technical implementation details, and at the end you are left with "OK, that can let me distribute my front-end code, but that's the easy part... what about the backend?".

[2019-08-12 17:12] moul opened #25 "[Talk Proposal] Introduction to Cryptography"
## About your talk

#### Title

Introduction to Cryptography for developers

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] Beginner | [ ] Beginner | [ ] Beginner | [ ] Beginner |
| [ ] Advanced | [ ] Advanced | [ ] Advanced |

[2019-08-12 20:10] gnieark commented on #22
Here ;)

[2019-08-13 11:25] aeddi commented on #21
I don't intend to discuss these topics in this talk, sorry :)
In fact, I plan to address topics such as: differences in terms of trust model, connection model, content routing, etc... So a layer underneath the application development.

The goal of the talk is to be less than 20 min while remaining accessible to neophytes. And I think it's better to start with an intro of this type before moving on

[2019-08-13 12:27] cpieri commented on #10
Hello @moul I'm going to Lyon at the beginning of October and I'm motivated to create Lyon P2P :)

[2019-08-13 16:09] moul commented on #22
Twitter thread with @gnieark and his peers

https://mobile.twitter.com/moul/status/1161004069907025920

[2019-08-13 16:12] moul opened #28 "[Chapter Proposal] DijonP2P"
If you are living around Dijon, France, or if you are sometimes going there, and if you are interested in organizing a DijonP2P Meetup group, please comment on this issue or contact me.

Related with #5

[2019-08-13 16:12] moul commented on #28
cc @trankilloman

[2019-08-14 10:59] moul opened #29 "[Workshop Proposal] Introduction to Cryptography for developers"
## About your workshop

#### Title

Introduction to Cryptography for developers

_Note: for the "talk version" of this workshop, see #25_

#### Workshop type

- [ ] Debate
- [x] Hands-on
- [ ] [Poster creation](https://github.com/parisp2p/community/wiki/Poster-workshop)
- [ ] Course

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Required knowledge level

| Network      | Cryptography | Blockchain   | Ge

[2019-08-14 11:50] moul commented on #10
Wonderful!

@cpieri what do you think about organizing a workshop (brainstorm/debate) during the next ParisP2P event?

About **"FranceP2P and the local chapters"** so we can collectively find ideas, choose the appropriate tools, and list the needed tasks to open a new chapter and organize the first event

If you're okay, you can propose the new workshop here: https://github.com/parisp2p/community/

[2019-08-15 09:21] gorhgorh commented on #11
mhhh we could also use the iconic network topology graph that are used in most P2P network (centralised / meshed / distributed) talk as "constellation"

[2019-08-16 15:54] zooma2k18 opened #30 "[Workshop Proposal] P2P & Cooperative companies"
## About your workshop

#### Title

**P2P & Cooperatives companies**

#### Workshop type

- [x] Debate
- [ ] Hands-on
- [ ] [Poster creation](https://github.com/parisp2p/community/wiki/Poster-workshop)
- [ ] Course

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ---------

[2019-08-16 15:56] zooma2k18 opened #31 "[Workshop Proposal] Delegate Proof-of-Stake"
## About your workshop

#### Title

Delegate Proof-of-Stake Protocol (Blockchain)

#### Workshop type

- [ ] Debate
- [ ] Hands-on
- [x] [Poster creation](https://github.com/parisp2p/community/wiki/Poster-workshop)
- [ ] Course

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | -----------

[2019-08-16 19:01] louptheron opened #32 "[Talk Proposal] DPOS : Under the hood"
## About your talk

#### Title

DPOS : Under the hood

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

~15 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [ ] None     | [ ] None     | [ ] None     |
| [x] Beginner | [x] Beginner | [x] Beginner | [x] Beginner

[2019-08-16 22:37] zooma2k18 commented on #32
Just for precision, I'll not give a talk, but a "poster session", a kind of collaborative explanation & exploration of the subject with a poster, a every kind of public can join the workshop (beginners to experts). The aim is to explore the subject to synthetize it at the end for a general public with a simple poster (hard exercice :D).

Great idea @louptheron to add a dedicated talk just after, t

[2019-08-18 11:55] lpieri opened #33 "[Workshop Proposal] Brainstorm for the next chapters"
## About your workshop

#### Title

Brainstorm for the next chapters.

#### Workshop type

- [X] Debate
- [ ] Hands-on
- [ ] [Poster creation](https://github.com/parisp2p/community/wiki/Poster-workshop)
- [ ] Course

#### Languages

- [X] 🇫🇷
- [ ] 🇬🇧

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | --------

[2019-08-18 12:01] cpieri commented on #10
Hello @moul,

I just created the workshop proposal 😄: https://github.com/parisp2p/community/issues/33
I'm so motivated for the next chapters !!!

I haven’t set a proposal date because I haven't an idea for the date :)

[2019-08-19 08:35] moul commented on #33
<3

[2019-08-19 08:38] moul commented on #32
Yep, definitely a good idea to start with the poster session, and then, have an under the hood explanation so that everyone can have a deeper understanding after those two steps

[2019-08-19 08:39] moul commented on #10
Maybe we should force the date of your workshop to be during the next ParisP2P event so that you will be prepared for opening Lyon

[2019-08-21 09:01] cpieri commented on #10
Yes, I think it's a good idea. 😸

[2019-08-23 16:26] alexsland commented on #10
Logo proposal for Lyon p2p :
![lyon_p2p_no_border_regular](https://user-images.githubusercontent.com/5212487/63607745-86b08f00-c5d3-11e9-8a1a-1df8b6736c8f.png)
![lyon_p2p_no_border_small](https://user-images.githubusercontent.com/5212487/63607747-87492580-c5d3-11e9-886d-023cee0b4980.png)
https://github.com/parisp2p/community/pull/34

[2019-08-23 16:27] alexsland commented on #12
Logo proposal for France P2P :

![france_p2p_blue](https://user-images.githubusercontent.com/5212487/63607801-a6e04e00-c5d3-11e9-8851-e2332a1613b9.png)
![france_p2p_white](https://user-images.githubusercontent.com/5212487/63607802-a6e04e00-c5d3-11e9-8017-2943dc0767d7.png)
![france_p2p_red](https://user-images.githubusercontent.com/5212487/63607803-a6e04e00-c5d3-11e9-85c9-b6b35bd65e5a.png)

https:/

[2019-08-24 19:40] lpieri commented on #10
Oh, it's so beautiful !! ❤️
I really like the first logo with the little Lyon 🦁
Thanks @alexsland

[2019-08-26 07:54] moul commented on #21
This talk is announced for Paris-P2P-#2 on 2019-10-02

-> https://p2p.paris/en/event/monthly-2/

[2019-08-26 07:59] moul opened #36 "Paris P2P #1 - 2019-09-04"
## Info

* Official link: https://p2p.paris/en/event/monthly-1/
* Meetup link: https://www.meetup.com/fr-FR/Paris-P2P/events/263171540/

## Talks

* #33 Brainstorm for the next chapters -- @lpieri
* #44 P2P Vs Lords of the Ring -- @zicmama

[2019-08-26 08:00] moul opened #37 "Paris P2P #2 - 2019-10-02"
## Info

* Official link: https://p2p.paris/en/event/monthly-2/
* Meetup link: https://www.meetup.com/fr-FR/Paris-P2P/events/263191369/

## Talks

* #24 Workshop: Introduction to Crypto Wallet -- @LesHackeuses
* #21 Talk: Web 3.0 with IPFS -- @aeddi
* #31 Poster Session: DPOS -- @zooma2k18

[2019-08-26 08:01] moul opened #38 "Paris P2P #3 - 2019-11-06 (next)"
## Info

* Official link: https://p2p.paris/en/event/monthly-3/
* Meetup link: https://www.meetup.com/Paris-P2P/events/263191379/

## Talks

* #32 Talk: DPOS under the hood by @louptheron
* #47 Talk: Decentralized Reputation on the Blockchain by @PhilippeMts

[2019-08-26 08:10] moul commented on #33
Announced in #36 and here: https://p2p.paris/en/event/monthly-1/

[2019-08-26 08:11] moul commented on #24
Announced in #37 and here: https://p2p.paris/en/event/monthly-2/

[2019-08-26 08:11] moul commented on #21
Announced in #37 and here: https://p2p.paris/en/event/monthly-2/

[2019-08-26 08:11] moul commented on #31
Announced in #37 and here: https://p2p.paris/en/event/monthly-2/

[2019-08-26 08:47] alexsland commented on #10
Thank you @lpieri  :)
I just used the city of Lyon symbol for this logo:
![VDL-logo](https://user-images.githubusercontent.com/5212487/63678088-c0111680-c7ee-11e9-94bd-0800247e467e.jpg)

Here is a test with something more angular:
![lyon_p2p_no_border_regular_NEW](https://user-images.githubusercontent.com/5212487/63678117-cef7c900-c7ee-11e9-8a64-c35d5c1a0637.png)

After consideration I believe the

[2019-08-26 11:15] alexsland commented on #10
Other test (lines simplified):
![lyon_p2p_no_border_regular_NEW](https://user-images.githubusercontent.com/5212487/63686941-839be580-c803-11e9-9f71-922a3e0254eb.png)

[2019-08-27 08:05] moul commented on #12
New repo and issue created here: parisp2p/francep2p.org#1

[2019-08-27 09:55] louptheron commented on #32
@moul Could I add this to [2019-10-02's event](https://github.com/parisp2p/community/issues/37) ?

[2019-08-27 17:08] moul commented on #12
Done here: https://github.com/parisp2p/francep2p.org/pull/2 :)

[2019-08-27 17:08] #12 closed

[2019-08-27 17:22] moul commented on #32
We already have too many talks on this date

Options are:
1. that you find another date
2. that we move @aeddi's talk to another date so you can take his place

cc @aeddi

[2019-08-28 11:23] louptheron commented on #32
Got it, first option (https://github.com/parisp2p/community/issues/38) is also OK for me

[2019-08-28 13:35] moul opened #41 "Paris P2P #4 - 2019-12-04 (next)"
## Info

* Official link: https://p2p.paris/en/event/monthly-4/
* Meetup link: https://www.meetup.com/Paris-P2P/events/264367847/

## Talks

* _available slot_
* _available slot_

[2019-08-28 19:33] moul commented on #32
Cool, we have a B plan :)

@aeddi, can we move your talk to the next event (#38)? -> this way, @louptheron will make a DPOS talk the same day of the DPOS poster session (#31)

[2019-08-31 18:37] zicmama opened #44 "[Talk Proposal] P2P vs Lords of the Ring"
## About your talk

#### Title

From single computers to ONE. A quest for the precious.

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

~20 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [ ] None     | [ ] None     | [ ] None     |
| [x] Beginner | [x] Begi

[2019-09-02 10:16] pokapow commented on #44
All right dude ! =)

[2019-09-02 11:15] aeddi commented on #44
Hey! Nice proposal :)
About the "Video recording" section, you just need to mention if you want your talk to be recorded then posted to p2p.paris website with 3 options:
- if possible (you want to be recorded if the conditions are suitable: not to noisy, light ok, etc...)
- mandatory (you want to be recorded and you prefer to postpone your talk if the conditions are not suitable)
- no (you don't w

[2019-09-02 11:20] moul commented on #44
I book you the last slot during the next event

[2019-09-03 18:50] zicmama commented on #44
https://tube.p2p.legal/videos/watch/f45b8e45-df35-4189-bd71-0050ca5c375b

[2019-09-04 11:51] moul commented on #44
@zicmama peux-tu m'envoyer un screenshot de ta presentation ou quelque chose que je peux mettre dans les slides d'intros qui presentent la soiree et les 2 talks stp ?

[2019-09-05 07:43] moul commented on #36
Introduction slides: https://docs.google.com/presentation/d/1mXAgC2COp5xzriV2pVOsEGatgJssRBbNQyFVHw_UHeQ/edit#slide=id.g41bf9b08a7_1_2

[2019-09-05 07:43] #36 closed

[2019-09-05 07:43] moul commented on #44
No slides :)

[2019-09-05 07:43] #44 closed

[2019-09-05 07:44] moul commented on #33
@lpieri is working on a report that will be pushed as a pull request or somewhere in the WIKI

[2019-09-05 07:44] #33 closed

[2019-09-15 12:56] moul commented on #10
Cc @sylicia

[2019-10-02 15:22] louptheron commented on #38
Ok for me to add the https://github.com/francep2p/community/issues/32 talk to this event.

[2019-10-03 07:37] moul commented on #37
Intro slides: https://docs.google.com/presentation/d/1CwY5JAwiX6YhHC_EBGz4pOvhELWqeHBhn5BnvYeRmBw/edit?usp=sharing

[2019-10-03 07:37] #37 closed

[2019-10-03 07:38] #24 closed

[2019-10-03 07:39] moul commented on #31
This "poster session' was quite funny, more like a "pizza-box session" :)

@zooma2k18, can you upload a photo here?

[2019-10-03 07:39] #31 closed

[2019-10-03 07:40] moul commented on #21
Nice talk, @aeddi can you upload the slides somewhere and put a link in this issue?

Thanks!

[2019-10-03 07:40] #21 closed

[2019-10-03 07:46] moul commented on #38
Updated! :)

[2019-10-03 07:57] moul commented on #32
Announced here: https://github.com/francep2p/community/issues/38

and on here: https://p2p.paris/en/event/monthly-3/ (PR here: https://github.com/francep2p/p2p.paris/pull/45)

[2019-10-07 11:36] PhilippeMts opened #47 "[Talk Proposal] Decentralized Reputation on the Blockchain"
## About your talk

#### Title

Decentralized Reputation on the Blockchain

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

\~20 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [ ] None     | [ ] None     | [ ] None     |
| [x] Beginner | [x] Beginner | [ ] B

[2019-10-07 20:01] zooma2k18 commented on #47
Hey @PhilippeMts !

Great proposal, maybe you should talk with @louptheron because 2 talks (20min) on the same event is not the best line up (sound in Ground Control is more and more loud around near 8pm, and people prefer FFA, workshops & Beer2Beer time cause talk are harder to ear).

Maybe you could be available on the #41 edition (12.04.09) @PhilippeMts for this talk ? (slot is free yet) or dis

[2019-10-09 06:58] PhilippeMts commented on #47
Thanks for your review @zooma2k18,

@louptheron's talk sounds super interesting !
If that's ok with everyone, I think scaling down my proposal to a 10 minute talk could be a good challenge. I would go straight to the main points which may even make the presentation clearer.
Would that suit the schedule for [ParisP2P #3, 2019-11-06](https://github.com/francep2p/community/issues/38) ?

Otherwise, I

[2019-10-09 20:00] Z-a-r-a-k-i commented on #47
Awesome and very interesting topic, can't wait :)

[2019-10-12 07:53] lpieri commented on #10
Hello 👋
This 23 October in 42 Lyon, we going bootstrap Lyon P2P! 🎉

[2019-10-12 08:15] moul opened #48 "Lyon P2P #0 - 2019-10-23"
## Info

* Meetup link: https://www.meetup.com/France-P2P/events/265590934/

## Talks

* https://github.com/francep2p/community/issues/54 Talk: P2P and education -- @lpieri
* _Available slot_

---

Related with https://github.com/francep2p/community/issues/10

[2019-10-12 08:16] moul commented on #10
\o/

Created dedicated event issue here: https://github.com/francep2p/community/issues/48 to continue :)

[2019-10-12 08:16] #10 closed

[2019-10-12 10:09] moul opened #49 "Paris P2P #5 - 2020-01-08"
## Info

* Official link: https://p2p.paris/en/event/monthly-5/
* Meetup link: https://www.meetup.com/France-P2P/events/265590715/

## Talks

* _available slot_
* _available slot_

[2019-10-12 10:10] moul opened #50 "Paris P2P #6 - 2020-02-05"
## Info

* Official link: https://p2p.paris/en/event/monthly-6/
* Meetup link: https://www.meetup.com/France-P2P/events/265590816/

## Talks

* https://github.com/francep2p/community/issues/58
* https://github.com/francep2p/community/issues/64

[2019-10-12 10:10] moul opened #51 "Paris P2P #7 - 2020-03-04"
## Info

* Official link: https://p2p.paris/en/event/monthly-7/
* Meetup link: https://www.meetup.com/France-P2P/events/265590827/

## Talks

*  Replacing BGP in 4 easy steps #67
* _available slot_

[2019-10-12 10:10] moul opened #52 "Paris P2P #8 - 2020-04-01"
## Info

* Official link: https://p2p.paris/en/event/monthly-8/
* Meetup link: https://www.meetup.com/France-P2P/events/265590849/
* **COVID Update:** Online event! Please join the Discord server: https://crpt.fyi/francep2p-discord

## Talks

* "Que pouvons-nous faire avec une DAO en 2020" by @PhilH
* "Les dernières news de Berty, et l'ouverture du code et de la communauté" by @moul (https://githu

[2019-10-12 10:10] moul opened #53 "Paris P2P #9 - 2020-05-06"
## Info

* Official link: https://p2p.paris/en/event/monthly-9/
* Meetup link: https://www.meetup.com/France-P2P/events/265590850/

## Talks

* _available slot_
* _available slot_

[2019-10-12 10:50] lpieri opened #54 "[Talk Proposal] P2P and education (Lyon P2P)"
## About your talk

#### Title

The P2P and the Education

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

~20 mins

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x] None     | [x] None     | [x] None     | [x] None     |
| [ ] Beginner | [ ] Beginner | [ ] Beginner | [ ] Beg

[2019-10-14 08:56] moul commented on #54
:+1:

Talk announced here: https://github.com/francep2p/community/issues/48

[2019-10-14 08:59] moul commented on #48
cc @didouard, @gponsinet, @sylicia

[2019-10-27 09:14] moul opened #55 "Paris P2P Festival"
**This issue is a work in progress and will be updated progressively with new info**

_Feel free to comment this issue if you plan to propose something (talk, workshop, stand, hackathon) or just if you have ideas; if you prefer, you can send us an email at bootstrap@p2p.paris or contact us on Matrix/Discord_

---

## Info

* When: January, 8th to 12th 2020
* Where: Ground Control
* Links:
  * Offi

[2019-10-27 09:22] moul commented on #48
@lpieri can you write a quick debrief and what's your plan for the future?

[2019-10-27 09:22] #48 closed

[2019-10-27 09:24] moul commented on #5
@lpieri based on your experience with `Lyon P2P #0` (#48), can you tell us if you have ideas of improvements to help local chapter bootstrap their first event?

[2019-10-30 07:56] PhilippeMts commented on #38
Hello everyone,

Would we be up to add a 10-minute version of the https://github.com/francep2p/community/issues/47 talk to the schedule ?

[2019-10-31 12:10] #54 closed

[2019-10-31 12:15] moul opened #56 "Lyon P2P #1 - 2019-12-11 (next)"
## Info

* Meetup link: https://www.meetup.com/France-P2P/events/266104402/

## Talks

* _Available slot_
* _Available slot_

---

Related with https://github.com/francep2p/community/issues/10

[2019-10-31 15:01] lpieri commented on #56
🎉

[2019-11-04 10:23] lpieri commented on #56
Crypto Lyon the community crypto at Lyon, helps me to organize the event
Their event's link: https://www.crypto-lyon.fr/event/lyon-p2p-1-%F0%9F%87%AB%F0%9F%87%B7-monthly-peer-to-beer

[2019-11-04 11:29] moul commented on #38
yep, @louptheron's talk should last ~15 minutes, so no problem

[2019-11-04 11:36] moul commented on #47
Announce in #38

[2019-11-06 10:20] moul commented on #47
@PhilippeMts do you have a cover slide?

[2019-11-06 10:21] moul commented on #32
@louptheron do you have a cover slide please?

[2019-11-06 10:42] PhilippeMts commented on #47
Hello @moul , i would have the following slide :
![cover_slide](https://user-images.githubusercontent.com/1371613/68291579-72d0e100-008a-11ea-926f-5323c75c9880.jpg)

[2019-11-06 11:18] moul commented on #47
perfect :+1:

[2019-11-06 16:45] moul commented on #55
Official page launched: https://p2p.paris/festival \o/

[2019-11-07 08:04] louptheron commented on #32
Here's the slides : https://docs.google.com/presentation/d/1bLZLMVnNwhl81aEtfmPm8rMpoQ8lrsCuOoLtFilGftc/edit?usp=sharing

[2019-11-07 08:04] #32 closed

[2019-11-07 08:46] moul commented on #32
Thx @louptheron

[2019-11-07 08:48] moul commented on #47
thank you for your presentation @PhilippeMts

can you share your slides here? :)

[2019-11-07 08:49] #38 closed

[2019-11-07 08:49] #47 closed

[2019-11-07 08:51] PhilippeMts commented on #47
Thanks for the invite !

Sure, here they are : [Decentralized Reputation on the Blockchain.pdf](https://github.com/francep2p/community/files/3818639/Decentralized.Reputation.on.the.Blockchain.pdf)

[2019-11-07 09:08] moul commented on #38
Slides: https://docs.google.com/presentation/d/12oUY9rReLH0l9I71DL4xqoFAp8eA0bCx7qdsdENndS4/edit#slide=id.g6ad413d101_0_435

[2019-11-11 20:54] rllola opened #57 "[Talk Proposal] ZeroNet - A decentralized censorship-resistant network"
## About your talk

#### Title

ZeroNet - A decentralized censorship-resistant network

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

~20 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [ ] None     | [x] None     | [ ] None     |
| [x] Beginner | [x] Begin

[2019-11-14 07:45] George-Soros commented on #57
**"share content without a central form of censorship"** this not true entirely! I can demonstrate that minimum 15 times I was censored on GitHub because I reported very embarrassing thing about ZeroNet.

Do you know @rllola that the ZeroNet software violating for years many licenses namely AGPL3+, Apache 2.0 and GPLv3? As a result the GPLv2 license of ZeroNet is terminated!
I was who reported thi

[2019-11-14 07:54] George-Soros commented on #57
I strongly suggest **stop distributing ZeroNet** until it is not having a GPLv3+ license! If you distribute it you are directly and knowingly committing a crime!
It is illegal to distribute ZeroNet in its current form I'm sure that is in France too!

[2019-11-14 08:33] gorhgorh commented on #57
contrepoint interessant @George-Soros par contre le compte throwaway crée deux heure avant le commnentaire ne lui donne pas trop de poids, mais on pourra en discuter au prochain event ? :)

[2019-11-14 08:46] George-Soros commented on #57
![bolton](https://user-images.githubusercontent.com/57743911/68840705-26555900-06bb-11ea-8180-8c257ec26529.gif)

[2019-11-14 08:51] gorhgorh commented on #57
merci de confirmer ce que je pensais =)

[2019-11-14 08:51] George-Soros commented on #57
@gorhgorh My account @antifa has suspended because Hungarian neo-Nazis from Budapest attacked me for reporting years long license violations and copyright infringement in ZeroNet.

[2019-11-14 08:54] George-Soros commented on #57
@gorhgorh Mon compte @antifa a été suspendu parce que des néo-nazis hongrois de Budapest m'ont attaqué pour avoir signalé des violations de licence et de copyright pendant plusieurs années dans ZeroNet.

ZeroNet est dirigé par un fasciste hongrois.

[2019-11-14 09:02] gorhgorh commented on #57
I see,
I'll have to look at the history of this project more thoroughly, and thanks for these informations.
Decentralisation movement is attracting lots of different actors, not always for the better.

I'm also interested in @rllola point of view on the question ?

[2019-11-14 09:12] George-Soros commented on #57
ZeroNet is great but is illegal in its current form! Not possible to distribute it publicly or in some countries you can get into real trouble for it. If the license up GPLv3 in your repository you are free to distribute it.

Some people like @imachug even **tried to claim proprietary rights** over ZeroNet! This is a real destructive threat just as the Hungarian neo-Nazis in Budapest who claim tha

[2019-11-14 09:47] filips123 commented on #57
No. It was suspended because it violated GitHub ToS, USA and EU laws, was spamming and trolling, making death threats to ZeroNet contributors, etc.

[2019-11-14 09:52] George-Soros commented on #57
Threat? I was helped ZeroNet you fuck! I contributed and also I was who reported the problem with the license which is in this very moment is not exist anymore! You @imachug and @shortcutme was on rage and reported more than 15 account after that you managed to beg Microsoft to suspend @antifa. This all still don't matter to me be honest but that is very clear you are a fucking criminal fascists s

[2019-11-14 09:54] filips123 commented on #57
Yes, you certainly wasn't banned because of that...

[2019-11-14 09:55] George-Soros commented on #57
Don't fucking need to censor GitHub, close my pull requests and copy anything from that pull request without giving credit and when I report license violations and copyright infringement you fucking need to shot your mouth and do your best to resolve the issue not attacking me and running to Microsoft to ban my account! You fucking trash! Tamas Kocsis should be hanged and will be hanged very soon!

[2019-11-14 09:57] filips123 commented on #57
Yes, spamming, trolling, death threats aren't reason to ban you...

[2019-11-14 09:59] George-Soros commented on #57
I do it for a very good reason! You fucking nazi shit along with @imachug and @shortcutme even the voting https://github.com/HelloZeroNet/ZeroNet/issues/2273 misleading previous contributors! Not a single word about my report and not a single time the fucking voting mentions why it is started! Saying ZeroNet recently informed... bla bla bullshit! You are all attacking me because I telling the trut

[2019-11-14 10:04] George-Soros commented on #57
Don't fucking violate other people licenses and not steal they contributions and code you criminal copyright infringer :hankey: !

How many people is misleaded right now in the voting? I tell you! Over a 100 people lied straight into the face!

[2019-11-14 10:05] gorhgorh commented on #57
hey hey @filips123 @George-Soros can I remind you that this issue is about @rllola proposal
@George-Soros thanks for telling us a bit about some concerning issue on the project, but please refrain to settle debt on this thread ?
also @filips123 same apply this is not a battleground to defend your claims

[2019-11-14 10:06] George-Soros commented on #57
@rllola **Can't distribute ZeroNet under the current license neither you are allowed!** It is illegal in every single country of the world!

[2019-11-14 10:57] lpieri commented on #5
Hello @moul
I think we need to communicate 1 month before the bootstrap and contact the local communities.
For example, contact local schools or enterprises (tech, p2p...).
I think too, we need to create the process more easy for propose a Talk at the bootstrap because it can be a brake for the local communities.

[2019-11-14 14:05] imachug commented on #57
Let me jump in quickly. I don't want this talk to be abandoned because of a silly flane war. Let me just note some facts:

Hacktivist (his old username) was going to contribute to ZeroNet and made a useful PR. He then added some "features" which he thought were necessary while the project owner as well as a few contributors (e.g. me) disagreed with it. We asked him to revert the useless changes (n

[2019-11-14 17:16] George-Soros commented on #57
I will NOT remove any library at your wishes and I told many times I release ZeroNet under GPLv3+! You going to destroy ZeroNet if you remove any code and also you did lie to all previous contributors when you misleaded them with a fucking voting which was a shitshow to github not to take down the repository!

I going to make a legal report to the Fee Software Foundation and to GitHub and initiate

[2019-11-14 17:19] George-Soros commented on #57
**ZERONET LOST ITS LICENSE WHEN VIOLATED OTHER PEOPLES LICENSES AND INFRINGED COPYRIGHTS!**

**THE GPLv2 TERMINATION IS INDEFINITE!**
You can't ever use GPLv2 license!

[2019-11-14 17:20] filips123 commented on #57
So switch to MIT...

[2019-11-14 17:20] imachug commented on #57
Can you please stop spamming *other* projects? Let's switch to IRC.

[2019-11-14 17:25] George-Soros commented on #57
You can't fucking switch to MIT you fuck! ONce the program is on GPL you MUST keep under GPL! It is not possible to switch to anything else and we have discussed this many many times!

You are spamming other project @imachug and @filips123 I noticed the P2P community in France that ZeroNet is run by neo-Nazis and the abuse on GitHub, censorship and continues illegal activities!

@gorhgorh Are you

[2019-11-14 17:32] filips123 commented on #57
If you just said that GPL is terminated...

[2019-11-14 17:35] George-Soros commented on #57
I need to use Internet Archive to capture this fake misleading voting what they started: https://github.com/HelloZeroNet/ZeroNet/issues/2273 They lying to all previous ZeroNet contributor! One is want to use an MIT license on it the other saying he will rewrite the libraries.

ZeroNet LOST its license and if any library is removed I guarantee it will loose all copyrights too! I will not remove any

[2019-11-14 17:51] George-Soros commented on #57
@gorhgorh look at this!
@imachug said: If the license is abandoned, my work can be considered **proprietary**. Thus you cannot use it without my agreement. **Please remove my code**.

How many times I need to tell you you fuck! There is more than 1,900 fork but you only attacking me! A previously released software which used a GPL license NEVER EVER can be made proprietary! You are in some dream b

[2019-11-14 17:53] filips123 commented on #57
So you can use it as a proof that license change is doing in correct and legal way.

[2019-11-14 17:56] filips123 commented on #57
But it is possible to force 1,900 forks to change license?

[2019-11-14 17:56] George-Soros commented on #57
**Nothing is correct and nothing is legal** in that @imachug @HelloZeroNet (@shortcutme) **INTENTIONALLY MISLEADING CONTRIBUTORS!**
Nazi fcks from Hungary, Poland, Slovenia. That is ZeroNet!

[2019-11-14 17:58] filips123 commented on #57
If you said GPLv2 is not valid anymore...

[2019-11-14 17:59] George-Soros commented on #57
@filips123 stop spamming! READ!

[2019-11-14 18:00] George-Soros commented on #57
## Miha Štamcar
You nazi shit! Shut your mouth and go back where you from! Nobody asked you to come here!

[2019-11-14 18:06] filips123 commented on #57
Says someone who literally nobody want to be here...

[2019-11-14 18:07] George-Soros commented on #57
I come here to warn the P2P community in France not to distribute ZeroNet without having a GPLv3 license on it!

[2019-11-14 18:18] imachug commented on #57
@gorhgorh Anyways... I guess you'll understand there is literally no problem based on George-Soros'es replies.

[2019-11-14 20:13] George-Soros commented on #57
There is problem! A very serious legal problem and you trying to cover up you Hungarian neo-Nazi trash! You and Tamas Kocsis should be spit on the face for violating licenses and infringing copyrights for years! Read what are you said this topic! Read it and be shameful of yourself!

[2019-11-14 20:14] CatTheHacker commented on #57
I advise to block the further conversation in this issue and move the argument to IRC.

[2019-11-14 20:17] George-Soros commented on #57
We don't asked you opinions @CatTheHacker maybe I call the Fedpol in Switzerland if you also join and start arguing about the license.

[2019-11-14 20:18] CatTheHacker commented on #57
And what they will do to me? Have I violated something?
As for the licence, it has been terminated, that's a fact but for now it is prioprietary and contributors can switch licence to their choice - it has been explained to you many times.

[2019-11-14 20:26] George-Soros commented on #57
@CatTheHacker

That is very correct!

**A GPL licensed software NEVER can become proprietary!**

I'm a contributor too just as the translators. I contributed to UiRequest.py and those changes right now are in your versionof ZeroNet. Most people anyway voted for GPLv3+ **because they using they brain and understand that Tamas Kocsis and other Hungarian Nazis posing a clear threat** to ZeroNet! @ima

[2019-11-14 20:34] filips123 commented on #57
Explain how GPLv2 statements are still true, even if the license is terminated, please.

No, you aren't.

He didn't agree to distribute code under GPLv3 without asking him first and only you and your fork distributed code under GPLv3.

[2019-11-14 20:35] CatTheHacker commented on #57
If a licence is terminated, that means it couldn't be licenced under that licence, which in fact makes it unlinceced which makes it prioprietary, am I right?
Also the licence applies to the redistributed copy and not the source code itself, thus the licence can be changed, or at least that is my understanding of it.

[2019-11-14 20:37] filips123 commented on #57
A license can not be changed in *current* releases of program, this is correct. E.g. you can't force people who already have an old release with the old license to change it.

However, you can change it in *new* releases. This is what would be in case of ZeroNet. In this case, you can still use old license with old release and use new license in new releases.

[2019-11-14 20:39] George-Soros commented on #57
I just want to correct you @CatTheHacker a previously GPL licensed software can't be relicensed to anything but to GPL and even if the license is terminated that doesn't mean that the software is proprietary! Never a GPL distributed software become proprietary! **Never!**

[2019-11-14 20:40] filips123 commented on #57
Prove this.

[2019-11-14 20:40] George-Soros commented on #57
This is even logic @filips123 just think about.

[2019-11-14 20:42] filips123 commented on #57
No it is not. Many projects already did this.

[2019-11-14 20:43] George-Soros commented on #57
https://stackoverflow.com/questions/5419923/can-gpl-be-re-licensed

**There's no way you can rescind the GPL on the software you have already given someone. The only way that license is allowed to be changed is to a newer version of the GPL. Whoever received it as GPL will always be free to use it and redistribute it to others under the GPL.**

[2019-11-14 20:44] George-Soros commented on #57
Painful the truth? :rofl:

[2019-11-14 20:46] filips123 commented on #57
The [link](https://stackoverflow.com/questions/5419923/can-gpl-be-re-licensed) you pasted literarry proves that you are **wrong**:

[2019-11-14 20:47] George-Soros commented on #57
I'm not arguing with a retard...

[2019-11-14 20:50] filips123 commented on #57
And once again, upvoting your own comments won't make them any more truth.

[2019-11-14 21:00] George-Soros commented on #57
![GQmQ](https://user-images.githubusercontent.com/57743911/68895690-baf2a200-0721-11ea-93eb-e387a17ff532.gif)

[2019-11-14 21:07] CatTheHacker commented on #57
What are you writing is correct @George-Soros, we can't relicence the already released copies of ZeroNet, but we can relicence the new ones, which is what are we trying to do if you didn't interrupt us.

Yep, I fully agree and do get that, I tried to make answer as short as possible.
The released software cannot be relicenced, but future copies can be.

[2019-11-14 21:10] George-Soros commented on #57
Good luck in destroying ZeroNet! If any other license is put on it than GPLv3 than you can already dig a hole in the cementary for ZeroNet because I will continue to work on ZeroNet if necessary even sell it using a GPLv3+ license on it!

[2019-11-14 21:17] George-Soros commented on #57
Well, you **first remove my contribution from it** because I not allow my GPL contribution to be relicensed to anything but GPL! If you don't remove my addition from the software you can't change the license in the future versions either!

[2019-11-14 21:26] filips123 commented on #57
Well, you first show the exact lines which contain you copyrighted contribution. And once again, handling MIME types based on IANA and RFCs is not copyrighted by you.

[2019-11-14 21:27] CatTheHacker commented on #57
It's not that hard to replace few lines wrote by you, if they are your contributions.
Also please calm down, you are making me sad and feel worthless as a human being (which I'm not).

[2019-11-14 21:28] George-Soros commented on #57
Don't start it again! @HelloZeroNet even stated that **his merge is based on my pull request**! Copyrighted for that matter.

[2019-11-14 21:30] filips123 commented on #57
Based on != Copied from
Based on PR == Based on the idea of the PR in this case

The idea in this case if handling more MIME types as IANA and RFCs specify. This is not copyrighted by you.

[2019-11-14 21:30] George-Soros commented on #57
@CatTheHacker I like you but just because you are living in Bern and people around Bern are very respectful, intelligent and friendly! I don't know you personally but I like you because you respectful at least not like others here.

[2019-11-14 21:33] George-Soros commented on #57
Without me ZeroNet not handling correctly the MIME types (did not handled it correctly for years!) I come and I sent a pull request which was copied, changed and included in ZeroNet without giving me credit! What this mean? You must destroy how ZeroNet handles mime types if you want to relicense future versions! Roll it back how you used it for years before of my pull request!

[2019-11-14 21:36] filips123 commented on #57
Because nobody reported problems.

Not to mention that you include an unnecessary cache for whole week which nobody wanted.

Ok? So handling MIME types and using UTF-8 is copyrighted by you?

[2019-11-14 21:36] George-Soros commented on #57
How it is included in ZeroNet is its copyrighted by me yes! Not the standard or RFCs you retard!

[2019-11-14 21:38] George-Soros commented on #57
Nobody reported problems? I can show you here at lest 5 reports! Shout your mouth. This absolutely unrelated to the fact that ZeroNet infringes copyright and violates licenses for years!

**I was also that person who reported this license thing!** You should be thankful!

[2019-11-14 22:11] George-Soros commented on #57
@namazso https://github.com/namazso/SecureUxTheme :clap: Look how se added a GPLv3+ license! I would help her but I guess she is fine with this structure. See README.md and LICENSE files in her repository. That is a GPLv3+ license! :fireworks: :champagne:

[2019-11-14 23:28] George-Soros commented on #57
@CatTheHacker

I'm deeply sorry if I made you feel this way! My intentions are good and I never said any bad word to you. Please forgive me. I want the best for ZeroNet and I alone need to fight and educate (mostly about law) 3-4 maniac Nazis for more than two weeks. Again, I have no problem with you at all! :hugs:

[2019-11-15 00:02] George-Soros commented on #57
@CatTheHacker
-----BEGIN PGP MESSAGE-----

wcFMA5h+MXkBgxuuARAAtoABjkCvNCEGkCOtWd302mstFsPydFc1l7URTz6XwD/s
xVJyvY5xn2hcAd7PHBDZkYcbwEhIk0h3BiufdtMDLoOR7qgYoTB30rT0RT8DIlwz
8deosZHkMbG+lbY4gcmtJJkiMdbawBYFyQj15XvOyLMZ3e9NMdXGOq5KGIOzCwW9
p2LEbOvEkrT4VzPyyamjSUN4JXOt4+/p/PNLLIqjo5PTuLv4SR1IYuzMSRZ9VRZs
EWXK4o9rQwerALcHTCReILlNOgp6rRhcxtm2hHoJnjDWJa8ksyVhVMGsAPUNocAP
iJtNguu8DLtxtNN42kAlYTvSNox/BYgc

[2019-11-15 01:28] namazso commented on #57
@George-Soros please don't tag me in issues i haven't contributed to, especially with offtopic posts.

And yes I am very fine with the current structure, especially since GitHub sets up the project this way if you pick a license on the website. The choice of a license was also intentional, due to existance of various nonfree "competitors" to whom I'd prefer not to give leechable code.

Also I woul

[2019-11-15 10:02] moul commented on #5
thanks for your feedback :)

we are actually talking with peers from Rouen for RouenP2P #22

I will link them to your comment

[2019-11-15 10:39] rollbackzeronet commented on #57
@gorhgorh Look at this: https://github.com/HelloZeroNet/ZeroNet/pull/2311 My pull request to remove my contribution is closed again. This (@HelloZeroNet, @imachug @filips123) are criminal copyright infringers who violating more than 3 different licenses and censoring GitHub to hide the fact that coy, attack and discredit contributors!

[2019-11-15 13:59] Z-a-r-a-k-i commented on #57
Why do we need to have this kind of infite debate even before the presentation ?
All this just makes me even more curious about the topic !

@rllola Please don't cancel

[2019-11-21 16:50] manelomanu opened #58 "Aeternity: scalable smart contracts + oracle machine"
Manel Ruiz, lead ambassador of Aeternity in Spain will explain how the Aeternity Blockchain works and what are its differences with the other smart contract platforms in the market. It will present the Starfleet program (next edition in 2020), the incubation program to create Dapps in Aeternity in which 8 teams have already received $ 100,000 in AE tokens and a six-month mentoring program with som

[2019-11-21 16:52] manelomanu commented on #58
I see that you normally do meetups in the first Wednesday of the Month, what about the 5th of February?

[2019-11-21 17:03] manelomanu commented on #58
or the 4 March, or 1rst of April 2020...up to you

[2019-11-21 18:19] moul commented on #58
👍 thank you for this proposal :)

there are available slots for all your suggested days: #50, #51, #52

btw, we limit the "talk time" of the whole event to 30 minutes, so ideally you should try to make a shorter version of your talk so we can have a second talk for the same evening

else, we can dedicate an evening to your talk

[2019-11-21 18:26] manelomanu commented on #58
waw, so cool! I could do it shorter of course, the 5th february its great then!
if you want we can do the drinks and snacks and airdrop at the end of the afternoon

[2019-11-21 18:28] manelomanu commented on #58
"else, we can dedicate an evening to your talk" but when?I guess the days I suggested have other talks booked, isn't it?

[2019-11-21 19:20] manelomanu commented on #58
well, I think 30 minutes will be enough in the 5th of February, if you want we can do the networking at the end.

[2019-11-21 22:14] manelomanu opened #59 "Aeternity: scalable smart contracts + oracle machine"
Manel Ruiz, lead ambassador of Aeternity in Spain will explain how the Aeternity Blockchain works and what are its differences with the other smart contract platforms in the market. It will present the Starfleet program (next edition in 2020), the incubation program to create Dapps in Aeternity in which 8 teams have already received $ 100,000 in AE tokens and a six-month mentoring program with som

[2019-11-27 14:07] lpieri commented on #56
Hello 👋
We have 3 talks for this event:

- The P2P Learning - by @lpieri
- Introduction to Cryptography for Developers - by @moul
- How Bitcoin works - by Antoine Poinsot

[2019-11-28 12:23] moul commented on #49
This meetup is a part of the Paris P2P Festival #55

[2019-11-28 12:23] #49 closed

[2019-12-05 10:33] moul commented on #41
Slides: https://docs.google.com/presentation/d/12sQAg9AravEOVYRefOxxjM5XjHrJfhJcqXOL9TwbvcM/edit?usp=sharing

[2019-12-05 10:33] #41 closed

[2019-12-15 23:49] cjdelisle opened #60 "[Talk Proposal] Cjdns and PKT : Decentralizing Internet Infrastucture"
## About your talk

#### Title

Cjdns and PKT : Decentralizing Internet Infrastucture

#### Languages

- [ ] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

45min + 15min questions, flexible.

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [x] None     | [ ] None     | [ ] None     |

[2019-12-16 22:13] cjdelisle opened #61 "[Workshop Proposal] Cjdns and PKT Installation Workshop"
## About your workshop

#### Title

Cjdns and PKT Installation Workshop

#### Workshop type

- [ ] Debate
- [x] Hands-on
- [ ] [Poster creation](https://github.com/parisp2p/community/wiki/Poster-workshop)
- [ ] Course

#### Languages

- [ ] 🇫🇷
- [x] 🇬🇧

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------

[2019-12-23 19:55] moul commented on #56
Closing (done)

[2019-12-23 19:55] #56 closed

[2019-12-24 11:44] lpieri opened #62 "Lyon P2P #2 - 2020-01-23"
## Info
 * Meetup link: https://www.meetup.com/fr-FR/France-P2P/events/267394223/

## Talks

* "How was Paris P2P Festival #0" by Louise Pieri
* "Testing Aragon 0.8 IRL" #63 by Julien Béranger
* "How Bitcoin works" by Antoine Poinsot

[2020-01-12 22:29] #55 closed

[2020-01-13 17:10] moul commented on #62
I suggest you to make a small debrief about "how was Paris P2P Festival #0" :)

[2020-01-13 17:12] moul commented on #58
Hi @manelomanu, now that the festival is over, I try to check if the different open topics are still active

Do you still want to make this talk? Still on 5th of February?

🙏

[2020-01-13 17:21] manelomanu commented on #58
Yes men, 100%!
I loved the festival!

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 13 ene. 2020 18:12, Manfred Touron escribió:

[2020-01-14 07:44] lpieri commented on #62
Yes, it's a good idea thanks :)

[2020-01-22 12:27] julienbrg opened #63 "[Talk Proposal] Testing Aragon 0.8 IRL"
## About your talk

#### Title

Testing Aragon 0.8 IRL

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

10 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [x] None     | [ ] None     | [ ] None     |
| [x] Beginner | [ ] Beginner | [ ] Beginner | [ ] Beginner

[2020-01-28 23:07] cypherada opened #64 "[Talk Proposal] <Présentation projet Polis Parallèle>"
## About your talk

#### Polis Parallèle

#### Français

- [X] 🇫🇷
- [ ] 🇬🇧

#### 10-15 min
#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [X] None     | [X] None     | [X] None     | [X] None     |
| [ ] Beginner | [ ] Beginner | [ ] Beginner | [ ] Beginner |
| [ ] Advanced | [ ] Advanced

[2020-01-31 15:56] #63 closed

[2020-02-01 11:14] #62 closed

[2020-02-06 11:17] moul opened #65 "[Chapter Proposal] NantesP2P"
Checklist

* [x] find a location/host (can be a unique place or a startup for the talks + a bar for the social event)
* [x] choose a date
* [x] create a banner
* [x] create meetup.com event
* [x] tweet the meetup event
* [x] find co-host for organization
* [ ] ask local people to relay the event
* [ ] find speakers

Related with #5

[2020-02-06 11:18] moul commented on #65
cc @waxzce, @pierreboc

[2020-02-06 11:19] #50 closed

[2020-02-06 11:19] moul commented on #50
Intro slides: https://docs.google.com/presentation/d/1zrw10VbWjjqDsAWgtYgJg9c8mZjO_D31KlN2H-TMdMk/edit?usp=sharing

[2020-02-06 11:20] #58 closed

[2020-02-06 11:20] #64 closed

[2020-02-06 11:29] moul commented on #57
Thank you @rllola for this workshop :+1:

[2020-02-06 11:29] #57 closed

[2020-02-06 11:30] moul commented on #59
@manelomanu can you confirm me that this issue is still open because you plan to make your presentation in other francep2p chapters i.e., lyon?

[2020-02-06 11:33] waxzce commented on #65
\o/

[2020-02-06 11:35] manelomanu commented on #59
Yes I really liked yesterday meetup and would love to do one in Lyon Next month.

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 6 feb. 2020 12:30, Manfred Touron escribió:

[2020-02-06 12:41] moul commented on #60
thank you @cjdelisle for you talks during the festival :+1:

[2020-02-06 12:41] #60 closed

[2020-02-06 12:42] moul commented on #59
ok :+1: cc @lpieri

[2020-02-08 20:35] krixano commented on #57
He has EVERY right to defend against a person who has been PROVEN to have given death threats and abuse to people online, for which he was BANNED BY GITHUB MULTIPLE TIME for, and then try to shut down a person for calling out a LIAR means that you are just as abusive as the person you are allowing to be abusive.

And this is why I am completely fed up and done with most programmer communities. Bec

[2020-02-13 17:03] cjdelisle commented on #61
Thanks for the event, it was great!

[2020-02-13 17:03] #61 closed

[2020-02-14 11:11] cjdelisle opened #67 "[Talk Proposal] Replacing BGP in 4 easy steps"
## About your talk

#### Title

Replacing BGP in 4 easy steps - The PKT long game

#### Languages

- [ ] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

30-40 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [ ] None     | [ ] None     | [ ] None     |
| [ ] Beginner | [x] Beginner

[2020-02-14 13:41] korfuri commented on #65
@vbouchaud @mykiwi

[2020-02-15 03:24] artrepreneur commented on #67
Great summary of the project plan, generally speaking. The problem is illustrated effectively, but I don't think a specific solution is proposed, rather the steps necessary to foster the right environment for a solution. At a high level, surely decentralization is that solution, but routing strategies will vary. This a great experiment because we will see if capitalism, ie. the free market, can so

[2020-02-20 11:09] Cryptodidacte opened #68 "[Talk Proposal for Nantes] From Cypherpunks to Bitcoin, a P2P history"
## About your talk

#### Title

From Cypherpunks to Bitcoin, a P2P history

#### Languages

- [x] 🇫🇷

#### Estimated duration

~ 30-35 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x] None     | [ ] None     | [ ] None     | [ ] None     |
| [ ] Beginner | [x] Beginner | [x] Beginne

[2020-02-20 11:13] moul commented on #65
https://twitter.com/ParisP2P/status/1230417314362904576 :slightly_smiling_face:

[2020-02-20 11:14] moul commented on #65
cc @poolpOrg

[2020-02-20 11:16] moul opened #69 "Nantes P2P #0 - 2020-03-13 (coronacancelled)"
## Info

* Meetup link: https://www.meetup.com/France-P2P/events/265590853/
* Official tweet: https://twitter.com/ParisP2P/status/1230417314362904576
* Place: Le Palace (4 Rue Voltaire, Nantes)

## Talks

* _available slot_
* _available slot_

Related with #65

[2020-02-20 11:17] moul commented on #65
-> #69

[2020-02-20 11:17] #65 closed

[2020-02-20 11:21] moul commented on #67
Will take place during the next Paris P2P event in march (#51)

Thank you :)

[2020-02-20 11:41] pierreboc opened #70 "[Talk Proposal] Le talk que je ne pourrais pas faire en Chine"
## About your talk

#### Le talk que je ne pourrais pas faire en Chine

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

<10min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x] None     | [x] None     | [x] None     | [x] None     |
| [ ] Beginner | [ ] Beginner | [ ] Beginne

[2020-02-20 14:26] cjdelisle commented on #67
Thank *you* :)

[2020-02-21 15:46] Z-a-r-a-k-i opened #72 "[Talk Proposal] Les blockchains et le développement durable"
## About your talk

#### Les blockchains et le développement durable

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### 20 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x ] None     | [x] None     | [ ] None     | [ ] None     |
| [ ] Beginner | [ ] Beginner | [x] Beginner | [x] Beginner |
|

[2020-02-24 18:32] manelomanu commented on #59
Guys, I don't see ant post about the Monthly meetup in Lyon on the 4th of March...is still Up?

Thanks!

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 6 feb. 2020 13:42, Manfred Touron escribió:

[2020-02-24 18:39] gorhgorh commented on #59
Hello @manelomanu, I think Lyon's March meetup is canceled, can you confirm @lpieri ?

[2020-02-25 04:53] roshanrags opened #73 "[Talk Proposal] Incentivizing P2P networks"
## About your talk

#### Title

Incentivizing P2P networks

#### Languages

- [ ] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

10 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [x] None     | [ ] None     | [ ] None     |
| [x] Beginner | [ ] Beginner | [ ] Beginner | [ ] Begi

[2020-02-26 10:25] Cryptodidacte commented on #68
Salut @moul, une idée de quand notre talk sera accepté ou rejeté pour le P2P Nantes du 13 mars ?
C'est pour que nous puissions nous organiser et préparer tout cela.

Merci ! :D

[2020-02-26 10:48] lpieri commented on #59
Hello @manelomanu, the next Lyon P2P will be the 12 March 😄

[2020-02-26 10:50] manelomanu commented on #59
Hey, great! I would like to do s presentation of Aeternity please

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 26 feb. 2020 11:48, Louise escribió:

[2020-02-26 10:52] gorhgorh commented on #59
@lpieri my mistake then :)

[2020-02-26 10:55] lpieri opened #74 "Lyon P2P #3 - 2020-03-12"
## Info
 * Meetup link: https://www.meetup.com/fr-FR/France-P2P/events/269002377/
## Talks
 * Presentation of Aeternity #59
 * _available slot_

[2020-02-26 10:58] lpieri opened #75 "Lyon P2P #4 - 2020-04-08"
## Info
 * Meetup link: https://www.meetup.com/fr-FR/France-P2P/events/269002396/
## Talks
 * _available slot_
 * _available slot_

[2020-02-26 11:07] lpieri commented on #59
@manelomanu the presentation of Aeternity is planned :)

[2020-02-26 11:08] manelomanu commented on #59
Ahh ok

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 26 feb. 2020 12:07, Louise escribió:

[2020-02-26 11:09] manelomanu commented on #59
Can you send me the link of the event please? I don't see It in the P2P meetup Group

Thanks!

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 26 feb. 2020 12:07, Louise escribió:

[2020-02-26 12:02] lpieri commented on #59
Yes, here are the link: https://www.meetup.com/fr-FR/France-P2P/events/269002377/ & https://github.com/francep2p/community/issues/74

[2020-03-01 17:38] manelomanu commented on #59
Thanks Louise!!😁

Here is the Crypto Lyon Telegram Group, just in case you want to join It and promote the events of France P2P
I m going to buy the tickets to come to Lyon on the 12th. Can you please confirm me that We are going to do the event?

Thanks

Manel

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 26 feb. 2020 13:02, Louise escribió:

[2020-03-01 17:39] manelomanu commented on #59
Sorry here is the Telegram link

Crypto Lyon
La communauté lyonnaise des Crypto actifs et technologies Blockchain

https://t.me/cryptolyonforum

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 26 feb. 2020 13:02, Louise escribió:

[2020-03-02 14:19] manelomanu commented on #59
Hallo Louise,

j ai dejá parlez avec Jimmy du Group Crypto Lyon, il ma dit que vous vous connez dejà, desolé pour mon derrier email.

Je vous partage un petit text pour la petite presentation que je vais a faire, peut être il peut
Être interesant de le metre dans la info du meetup

Manel Ruiz(Blockchain Institute of Barcelona), lead ambassador d'Aeternity à Espagne, présentera les avancées de la p

[2020-03-03 11:06] lpieri commented on #59
Hello Manel,

Oui je suis déjà en contact avec CryptoLyon, il faudrait que je les contacts ^^
Merci pour la description, je vais m'en servirais pour les annonces de l'évent 😄

[2020-03-09 09:53] manelomanu commented on #59
Bonjour,

Es qu'on peux faire quelque chose pour avoir plus convocatoire et attendants le jeudi?

Manel

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 3 mar. 2020 12:06, Louise escribió:

[2020-03-11 10:18] manelomanu commented on #59
Hello Louise,

Ça va pour le meetup de demain?

Je vous seulment 6 persones qui vont a attendre le meetup.

Es que il y aurà des autres?

Merci

Manel

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 3 mar. 2020 12:06, Louise escribió:

[2020-03-11 11:18] lpieri commented on #59
Hello Manel,

Le meetup de demain est toujours maintenu, je pense par contre que il n'y auras pas grand monde avec le covid-19 :(

[2020-03-11 11:29] manelomanu commented on #59
Hallo,

Tú as partagé dejà dans le Group Crypto Lyon?

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 11 mar. 2020 12:19, Louise escribió:

[2020-03-11 12:11] lpieri commented on #59
Oui :)

[2020-03-11 14:02] manelomanu commented on #59
Combien de personnes on confirmé assitance?

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 11 mar. 2020 12:19, Louise escribió:

[2020-03-11 14:58] manelomanu commented on #59
I'm just not 100% sure to come from Barcelona in case we are less than 10. It's a very cheap flight but this Coronavirus thing sucks, you know

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 11 mar. 2020 13:11, Louise escribió:

[2020-03-11 16:56] lpieri commented on #59
Okay, I get it. I think he'll have less than 10 people at the event. Are you okay with postponing the event till next month?

[2020-03-12 10:45] manelomanu commented on #59
I'm not sure about what is going to be the situation in one month, I Will like to come, but need to make sure

Enviado desde ProtonMail móvil

-------- Mensaje original --------
On 11 mar. 2020 17:56, Louise escribió:

[2020-03-13 08:56] moul commented on #69
Event is #CoronaPostponed

[2020-03-24 17:34] moul commented on #52
**COVID Update:**: Online event! Please join the Discord server: https://crpt.fyi/francep2p-discord

[2020-03-24 17:44] moul opened #76 "[Talk Proposal] Last news from Berty, Code & Community openings"
## About your talk

#### Title

Last news from Berty, Code & Community openings

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

~15 minutes

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x] None     | [x] None     | [x] None     | [x] None     |
| [ ] Beginner | [ ] Beginner

[2020-03-24 21:37] ghost opened #77 "[Talk Proposal] Que faire avec une DAO en 2020 ?"
## About your talk

#### Title

Que faire avec une DAO en 2020 ?

#### Languages

- [X] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

10 minutes

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [X] None     | [X] None     | [X] None     | [X] None     |
| [ ] Beginner | [ ] Beginner | [ ] Beginner

[2020-06-02 09:21] cjdelisle commented on #67
Going to close this issue to clear it from my notifications, thanks for a great time !

[2020-06-02 09:21] #67 closed

[2020-06-26 14:02] lekanova opened #78 "[Talk Proposal] <Decentralized Web Developer Report>"
## About your talk

#### Title

#### Languages

- [ ] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x] None     | [x] None     | [ ] None     | [ ] None     |
| [ ] Beginner | [ ] Beginner | [x] Beginner | [x] Beginner |
| [ ] Advanced | [ ] Advanced

[2020-06-30 20:54] aimxhaisse opened #79 "[Talk Proposal] Geo Backtracer"
## About your talk

#### Title

How to correlate GPS positions at scale

#### Languages

- [x] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

~20 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x] None     | [x] None     | [x] None     | [ ] None     |
| [ ] Beginner | [ ] Beginner | [ ] Begin

[2020-07-02 22:05] #79 closed, assigned to nobody

[2020-07-02 23:16] Jorropo opened #80 "[Talk Proposal] IPFS from A to Y"
## About your talk

#### Title

IPFS from A to Y.

#### Languages

- [X] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

15min ~ 25min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [ ] None     | [X] None     | [X] None     |
| [X] Beginner | [X] Beginner | [ ] Beginner | [ ] Beginn

[2020-11-18 14:01] zxxma commented on #80
Validated & scheduled for the online P2P meet-up @ dec, 2, 2020 !

[2020-11-18 15:59] #52 closed

[2020-11-18 15:59] #74 closed, assigned to nobody

[2020-11-18 15:59] #75 closed, assigned to nobody

[2020-11-18 15:59] #69 closed

[2020-11-18 16:37] #51 closed

[2020-11-18 16:37] #53 closed

[2020-11-18 17:23] moul commented on #80
-> https://p2p.paris/en/talks/ipfs-ay/

Thank you @Jorropo \o/

[2020-11-18 17:23] #76 closed, assigned to moul

[2020-12-16 20:23] Jorropo commented on #80
Was done.

[2020-12-16 20:23] #80 closed, assigned to Jorropo

[2020-12-17 11:22] zicmama commented on #80
@Jorropo is there a link where I could see the talk? Thx

[2020-12-17 13:29] zxxma commented on #80
Sorry @zicmama no record this time

[2021-01-04 15:53] rllola opened #81 "[Talk Proposal] Comment détecter les IP camera dans votre AirBnB"
## About your talk

#### Title

Comment détecter les IP camera dans votre AirBnB

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

~10 min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [x] None     | [x] None     | [] None     |
| [x] Beginner | [ ] Beginner | [

[2021-06-23 14:09] #70 closed

[2022-02-15 17:32] dework-integration[bot] opened #82 "Setup a POAP on Gnosis Chain"
[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/o/paris-p2p-77H9NZlpY7ziqOCIVct1SR/p/france-p2p-d-184IvZ1Dft8megf945d7hy?taskId=2eac61a9-c547-4bec-983d-539933816940)

[2022-02-15 17:51] dework-integration[bot] opened #83 "Migrate website to fleek"
https://fleek.co/ is a web hosting solution that works almost like netlify but supports IPFS deployments

[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/o/paris-p2p-77H9NZlpY7ziqOCIVct1SR/p/france-p2p-c-184IvZ1Dft8megf945d7hy?taskId=e32031e0-5f27-42e1-a6a4-950c5485c88c)

[2022-03-02 09:34] dework-integration[bot] opened #84 "Add sponsor button on GitHub org"
[Read more about this task and rewards on Dework.xyz](https://app.dework.xyz/o/paris-p2p-77H9NZlpY7ziqOCIVct1SR/p/france-p2p-c-184IvZ1Dft8megf945d7hy?taskId=bb312759-189a-4e4c-8835-5943c353c5f1)

[2022-04-04 17:57] Z-a-r-a-k-i opened #85 "[Talk Proposal] Hack your favourite video games, reverse engineering applied to videogames"
## About your talk

#### Title

Hackez vos jeux-vidéo préférés, la rétro ingénierie appliquée aux jeux vidéo

#### Languages

- [x] 🇫🇷
- [ ] 🇬🇧

#### Estimated duration

1h

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [x] None     | [x] None     | [x] None     | [ ] None     |
| [ ] Beg

[2022-04-15 11:12] nadimkobeissi opened #86 "[Talk Proposal] Blogchain: Using IPFS and NEAR to build decentralized discourse"
## About your talk

#### Title

Blogchain: Using IPFS and NEAR to build decentralized discourse

#### Languages

- [ ] 🇫🇷
- [x] 🇬🇧

#### Estimated duration

20min-25min

#### Required knowledge level

| Network      | Cryptography | Blockchain   | General Tech |
| ------------ | ------------ | ------------ | ------------ |
| [ ] None     | [x] None     | [ ] None     | [ ] None     |
| [x] Beginne

[2022-05-26 01:06] 3nprob commented on #60
@cjdelisle @moul Any chance that recording is available somewhere? :)

EDIT: Think I found it: https://piped.kavin.rocks/watch?v=-xgRUAA_p5E

[2022-05-26 07:33] cjdelisle commented on #60
Here it is: https://www.youtube.com/watch?v=-xgRUAA_p5E
Sound is not excellent because it was not recorded off the PA but it exists.